*{
  margin: 0%;
  padding: 0%;
  /* font-family:; */
}
#name{
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(237, 237, 237);
  padding: 8px;
  margin: 10px;
  width: auto;
}

#submitBtn{
  padding: 10px 45px;
  border-radius: 30px;
  /* border-style: ; */
  border-color: darkcyan;
  transition: 150ms ease-in-out;
}
#submitBtn:hover{
  background-color: darkcyan;
  border-style: none;
  color: white;
}

.App{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.myList{
  /* justify-content: space-between; */
  width: auto;
  /* border: 0.05rem solid grey; */
  /* border-radius: 5px; */

}